<!-- Source: https://www.erm.com/projects/case-study-reverse-supply-chain-vendor-verification/ | Title: Reverse supply chain vendor verification | Seed: https://www.erm.com/ (ERM) -->

Case Study
# Reverse supply chain vendor verification
ERM co-developed an audit methodology and risk framework for the client to deploy an effective auditing program.
**Background** : Due to increased awareness of the global e-waste problem and rising recognition that vendors in their value chain needed greater scrutiny and oversight to make sure they were managing materials in a responsible and safe way, the technology client identified the need to assess their reverse supply chain vendors to determine compliance, transparency, and sustainability impacts. They requested support in developing a rigorous standard for their vendors and a risk framework to establish the most efficient method for deployment. Once in place, they needed support to manage the program and track KPIs to be included in their annual Sustainability Impact Report.
**ERM’s Role:** ERM co-developed an audit methodology and risk framework for the client to deploy an effective auditing program. Types of facilities audited include hardware recyclers, hardware reuse/refurbishing waste ink and toner processors, and pyrolysis/gasification for plastics recovery facilities. ERM continued to evolve the audit protocol to accommodate new requirements from updated policies and procedures, updates to industry standards, as well as incorporation of requirements from the Electronic Products Environmental Assessment Tool (EPEAT), Responsible Recycling (R2), and the Responsible Business Alliance (RBA).
ERM managed the program, trained suppliers, performed audits in accordance with annual plans, tracked audit results and other KPIs, and oversaw the closure of audit findings.
**Impact:** ERM’s partnership with the client provides the client with a comprehensive understanding of their reverse supply chain risks and opportunities and how they impact the company’s existing management and operating systems. The resulting information increased the client’s internal knowledge and informed their planning for vendor selection and management in ever-changing global markets. In addition, ERM’s ongoing support enables the client to achieve their stated sustainability goals (by 2030) for product takeback and recycling while minimizing potential business risks and elevating their corporate reputation.
Share this page:
##  How can we help? 
How can we help you? Contact us to discuss how we can help your organization. 
By clicking “Accept All Cookies”, you agree to the storing of cookies on your device to enhance site navigation, analyze site usage, and assist in our marketing efforts. 
Cookies Settings
Accept
## Privacy Preference Center
## Privacy Preference Center
  * ### Your Privacy
  * ### Targeting Cookies
  * ### Functional Cookies
  * ### Performance Cookies
  * ### Strictly Necessary Cookies


#### Your Privacy
When you visit any website, it may store or retrieve information on your browser, mostly in the form of cookies. This information might be about you, your preferences, or your device, and is mostly used to make the site work as you expect. The information does not usually identify you directly, but it can give you a more personalized web experience. Because we respect your right to privacy, you can choose not to allow some types of cookies. Click on the different category headings to learn more and change our default settings. Blocking some types of cookies may impact your experience of the site and the services we are able to offer.
#### Targeting Cookies
Targeting Cookies
These cookies may be set through our site by our advertising partners. They may be used by those companies to build a profile of your interests and show you relevant adverts on other sites. They do not store directly personal information, but are based on uniquely identifying your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.
#### Functional Cookies
Functional Cookies
These cookies enable the website to provide enhanced functionality and personalisation. They may be set by us or by third party providers whose services we have added to our pages. If you do not allow these cookies then some or all of these services may not function properly.
#### Performance Cookies
Performance Cookies
These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site. All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies we will not know when you have visited our site, and will not be able to monitor its performance.
#### Strictly Necessary Cookies
Always Active
These cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.
Back Button
### Cookie List
Filter Button
Consent Leg.Interest
checkbox label label
checkbox label label
checkbox label label
Clear
  * checkbox label label


Apply Cancel
Confirm My Choices
Allow All